* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root {
    --main-color: rgb(45, 102, 64);
    --background-color: rgb(229, 173, 224);
  }


body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.wrapper {
    width: 100%;
    max-width: 800px; 
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: solid 2px var(--main-color);
}

.header {
    width: 100%;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.difficulty {
    width: 50%;
}

.difficulty button {
    width: 33.33%;
    height: 25px;
    border-color: var(--main-color);
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.difficulty button:first-child {
    background-color: var(--main-color);
    color: white;
}

.play {
    width: 30%;
}

.play button {
    width: 100%;
    height: 25px;
    border-color: var(--main-color);
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.score {
    width: 20%; 
    height: 25px;
    text-align: center;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    display: flex; /* Add display: flex; */
    align-items: center; 
    justify-content: end;
}

.score div {
    width: 50%;
}


.frame {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
}

.card {
    width: 100%;
    cursor: pointer;
}

img {
    display: none;
    width: 100%;
    height: 100%;
}

.backside {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-color);
    background-color: rgb(229, 173, 224);
    box-sizing: border-box;
}

.highscore {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}



.highscore p, input {
    width: 20%;
    border: 0;
}

.highscore input {
    height: 28px;
    padding-left: 5px;
    border: 1px solid var(--main-color);
}

.highscore p {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 30px;
}

.highscore button {
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
    height: 30px;
    font-weight: 600;
    border: none;
    padding: 4px;
    box-sizing: border-box;
}

.highscore p:first-child {
    border: 0;
    justify-content: center;
    font-weight: 900;
}

@media screen and (max-width:650px) {
    body {
        justify-content: start;
        background-color: white;
    }

    .wrapper {
        border: 0px;
    }
    .highscore  {
        flex-direction:column;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .highscore p, input {
        justify-content: space-between;
        width: 50%;
        border: 0;
    }
}
    